html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

div {
    padding: 0;
    text-align: center;
}

.header {
    background: url(../images/background.jpg) bottom / cover;
    background-color: #8bc34a;
    height: 100vh;
}

#mvhacks-image {
    max-height: calc(100vh - 400px);
    max-width: 100%;
}

#background-image {
    opacity: 0.5;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.content {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    padding: 16px;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
}

.sign-up-card {
    margin: 0 auto;
    width: calc(100% - 32px);
    max-width: 400px;
    min-height: 0;
    padding: 16px 4px 8px 4px;
    box-sizing: content-box;
}

.header > .content {
    padding-bottom: 200px;
}


#down-button {
    position: absolute;
    bottom: 48px;
    right: 64px;
}

.white {
    background: #FAFAFA;
}

.offwhite {
    background-color: #E4F5DF;
}

.mediumpad {
    padding-left: 5%;
    padding-right: 5%;
}

.inlinelink {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.inlinelink:hover {
    cursor: pointer;
}

.person {
    display: inline-block;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.section-title {
    padding-top: 24px;
    padding-bottom: 24px;
}

.section-subtitle {
    padding-bottom: 8px;
}

@media (max-width: 500px){
  #down-button {
    left:50%;
    right:auto;
    margin-left:-28px;
  }
}

@media (max-height: 600px) {
  #down-button {
    display: none;
  }

  .header > .content {
    padding-bottom: 32px;
  }

  #mvhacks-image {
    max-height: calc(100vh - 300px);
    max-width: 100%;
  }
}
