@import "src/material-design-lite";

/* Global Rules */

html, body {
 font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
   Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
 margin: 0;
 padding: 0;
 -webkit-tap-highlight-color: #2D112A;
 color: #2D112A;
}

a {
 color: #EF4339;
}

div {
 padding: 0;
 text-align: center;
}

.section-title {
 padding-top: 24px;
 padding-bottom: 24px;
}

.section-subtitle {
 padding-bottom: 8px;
}

.valign-center {
 display: inline-flex;
 vertical-align: middle;
 align-items: center;
}

.material-icons-small {
 font-size: 16px;
}

/* Front Page */

// Background
.header {
 background: url(../images/background2.jpg) bottom / cover;
 background-color: #EF4339;
 height: 100vh;
}

.content {
 padding-bottom: 200px;
}

#background-image {
 opacity: 0.5;
 height: 100%;
 width: 100%;
 object-position: center;
 object-fit: cover;
}

// Logo
#mvhacks-image {
 max-height: calc(100vh - 400px);
 max-width: 100%;
}

// Content wrapper
.content {
 position: relative;
 margin: 0 auto;
 max-width: 840px;
 padding: 32px 16px 80px;
}

.slab {
 font-family: 'Roboto Slab', serif;
 line-height: 28px;
}

// Sign up card
.sign-up-card {
 margin: 0 auto;
 width: calc(100% - 32px);
 max-width: 400px;
 min-height: 0;
 padding: 16px 0 0 0;
 box-sizing: content-box;
}

.sign-up-button {
 border-radius: 0;
 width: 100%;
 height: auto;
 padding-top: 8px;
 padding-bottom: 8px;
}


// Scroll down button
#down-button {
 position: absolute;
 bottom: 48px;
 right: 64px;
 color: orange;
}

// FAQ wrapper
.content-grid {
 padding-left: 4px;
 padding-right: 4px;
 max-width: 1080px;
}

// More Info background
.colored-bg {
 background-color:#EF4339;
 color: #2D112A;
}

// The Team formatting
.person {
 min-width: 116px;
 max-width: 140px;
}

.person-ambassador {
 min-width: 96px;
}

.person div {
 margin-top: 8px;
}

.person > img {
 width: calc(100% - 16px);
 border-radius: 50%;
 margin: 0 auto;
}

// FAQ wrapper
.grid-sizer {
 width: 33.3%;
}

// FAQ card
.grid-item {
 width: calc(33.3% - 8px);
 margin: 4px;
 background-color: #EF4339;
 color: #2D112A;
}

// TODO: Confirm that this CSS is actually relevant and targets something
.grid-item-width2 {
 width: calc(66.6% - 8px);
}

// FAQ card
.card {
 @include shadow-2dp();
 padding: 24px;
 min-height: 0;
}

// FAQ card title
.card > .section-subtitle {
 padding-bottom: 12px;
}

.footer {
 padding: ($padding * 2) $padding;
 color: $footer-color;
 background-color: $footer-bg-color;
}

.social-button {
 width: 32px;
 height: 32px;
 font-size: 14px;
 color: #2D112A;
}

// Responsiveness stuff
@media (max-width: 840px) {
 .content {
   padding: 16px 16px 64px;
 }

 .grid-sizer {
   width: 50%;
 }

 .grid-item-width2 {
   width: calc(100% - 8px);
 }

 .grid-item {
   width: calc(50% - 8px);
 }
}

@media (max-width: 600px) {
 .content {
   padding: 16px 16px 32px;
 }

 .content-grid {
   padding: 4px 4px 32px;
 }

 #down-button {
   left: 50%;
   right: auto;
   margin-left: -28px;
 }

 .grid-sizer {
   width: 100%;
 }

 .grid-item {
   width: calc(100% - 8px);
 }
}

@media (max-height: 600px) {
 #down-button {
   display: none;
 }

 .header > .content {
   padding-bottom: 32px;
 }

 #mvhacks-image {
   max-height: calc(100vh - 300px);
   max-width: 100%;
 }
}

//navigation
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: white;
  padding-left: 12px;
}

#nav {
  background-color: #2D112A;
  text-align: left;
}

//About Page
#about-info {
  padding-top: 2em;
}

#about-text {
  color: white;
}

//Buttons
#button {
  color: #EF4339;
}

#to-top {
  right: 30px;
  bottom: 12px;
  position: fixed;
  color: #EF4339;
  background-color:white;
  width: 3.5%;
  height: 7%;
}

//Slideshow
* {box-sizing: border-box}

.slideshow {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

#slides-forward {
  right: 25%;
}

#slides-backward {
  left: 25%;
}

#slides-forward, #slides-backward {
  position: absolute;
  top: 157%;
  margin-top: -22px;
  padding: 16px;
  transition: 0.6s ease;
  color: #2D112A;
  background-color: #EF4339;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #EF4339;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #530030;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}